[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twitchio = "*"
"discord.py" = "*"
sqlalchemy = "*"
psycopg2-binary = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"

[scripts]
start = "python main.py"
